input[type=radio], input[type=checkbox] {display:inline !important; float:none; top:0; left:0; position:relative;}
label.left {float:none; display:inline-block;}
section.index {background-image:none !important;}