@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstateplus_regular-webfont.eot');
    src: url('../fonts/interstateplus_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstateplus_regular-webfont.woff2') format('woff2'),
         url('../fonts/interstateplus_regular-webfont.woff') format('woff'),
         url('../fonts/interstateplus_regular-webfont.ttf') format('truetype'),
         url('../fonts/interstateplus_regular-webfont.svg#interstateplusregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstate_bold-webfont.eot');
    src: url('../fonts/interstate_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate_bold-webfont.woff2') format('woff2'),
         url('../fonts/interstate_bold-webfont.woff') format('woff'),
         url('../fonts/interstate_bold-webfont.ttf') format('truetype'),
         url('../fonts/interstate_bold-webfont.svg#interstateregular') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'interstate';
    src: url('../fonts/interstate_black-webfont.eot');
    src: url('../fonts/interstate_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/interstate_black-webfont.woff2') format('woff2'),
         url('../fonts/interstate_black-webfont.woff') format('woff'),
         url('../fonts/interstate_black-webfont.ttf') format('truetype'),
         url('../fonts/interstate_black-webfont.svg#interstateregular') format('svg');
    font-weight: 800;
    font-style: normal;

}

$yellow:#FAC100;
$blue:#021E43;
$ltblue:#8793A3;

* {box-sizing:border-box; font-family:'interstate'; letter-spacing:1px; transition:all .3s ease; -webkit-transition:all .3s ease; -webkit-text-size-adjust:100%;}

.button, label, .five-up {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

tr.dark {background:#f9f9f9; border-top:2px solid #F0F1F1; border-bottom:2px solid #F0F1F1;}
tr.light {color:white;}

html, body {position:relative; min-height:100%;}

label {cursor:initial}

body {background:#F0F1F1;}

a {color:$blue;}

.wrapper {transition:none; }

.under a:hover {color:$ltblue;}

.under {
  div {padding-bottom:20px;}
}

.button {background:$ltblue;}
.button:hover {background:$yellow}

.row.extended {max-width:1260px; width:100%; height:100%;
  .border-left {border-left: 3px solid #F0F1F1;}
  h3 {float:left; padding:40px 0 0 0; font-size:20px;}
  .top-links {float:right; padding:45px 0 0; text-transform:uppercase;
    a {padding:0 0 0 20px; font-weight:600}
  }
	img {width:120px; height:auto;}
	div.logo {width:150px; float:left; position:relative; margin-top:10px;}
	.ten {width:100%; max-width:1050px;}
}

.top-links.page {clear:right; padding:15px 0 0 0 !important;}

input, select {border-radius:2px !important}

input.error {border-color:$yellow; background:none !important;}
input.error:focus {outline-color:$yellow}

label.left {margin-right:20px;}

label {text-transform:uppercase; color:$blue; font-size:13px; font-weight:400; margin-bottom:10px;}
span.locked { color:#8793A3; font-size:13px; font-weight:500;}

input[type=radio], input[type=checkbox] {  
	display: none;  
}  

.button {font-family:'interstate'; font-weight:900; padding:15px 20px;}
.button.success {background:$blue; border:none; box-shadow:none;}
.button.secondary {color:$ltblue; border:2px solid white; background:#E9EAEC;}

label.radio, label.check {
 color: #8793A3;
}

.collapse {
	a:hover {background:$yellow}
	span.postfix {background:$blue; color:white; border-color:$blue; transition:all .3s ease; background-image:url(../images/search.png); background-position:center center; background-repeat:no-repeat}
	span.postfix:hover {background-color:$yellow; border-color:$yellow;}
}

.row.under {position:relative;
    img {width:40px; height:auto; position:absolute; left:15px; top:-5px;}
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {}

textarea {height:auto!important;}

a.excel {line-height:45px; font-weight:600; position:relative; left:5px;}
.months {line-height:45px;}

select {appearance:none; -webkit-appearance:none; -moz-appearance:none; padding:6px; font-size:13px; background:white;}

a.create {padding-left:45px;}

.prefix, .postfix {}

.collapse span.postfix.months {background:white; color:#8793A3; border:none; border-left:1px solid #cccccc;}

.report-title {font-family:'interstate'; font-weight:600; color:$blue; font-size:13px; text-transform:uppercase;}

.two.columns.search {border-left:10px solid transparent;}

table tbody tr td, table tr td {  font-size:13px; color:$ltblue; line-height:25px; vertical-align:middle;}

table tr.even, table tr.alt, table tr:nth-of-type(even) {background:white;}
table tr.even td, table tr.alt td, table tr:nth-of-type(even) td {border-bottom:2px solid #F0F1F1; border-top:2px solid #F0F1F1}

table thead tr th {font-weight:400; padding: 5px 10px;}
table tbody tr:hover {background:#F0F1F1;}

tr.hidd {display:none; background:#F0F1F1 !important}

.admin.button {margin-bottom:0; padding:0; height:50px; width:50px; line-height:50px; background:$ltblue; border:none;}
.admin.button:hover {background:$yellow}

section.ghost {
  .columns {padding-bottom:20px;}
}
section.appointment {margin-bottom:20px;
    .row {background:white;}
    .columns {padding-bottom:00px;}
    .row:last-of-type {padding-bottom:0px;}
    .row.border {border:none;}
    .panel {margin:0; color:white; padding:5px 15px; margin-bottom:10px; font-size:16px;}
}

.status {color:$ltblue; border-bottom:1px solid #B3BBC5; float:right; padding:10px 0 5px 0px; font-size:11px}
.logout {padding:0 0 0 10px; text-transform:uppercase; color:$ltblue; font-weight:600;}

input.specify {margin-top:55px;}

.success.button.upload {padding-left:20px; padding-right:20px; margin:0 0 10px;}

.counter { padding:5px 0; text-align:right;
  span {font-size:20px; line-height:30px; height:30px; width:30px; font-weight:900; text-align:center; background:white; color:$ltblue; display:block; float:left; margin-right:3px; top:1px; position:relative}
  span.check {background-image:url(../images/check.png); height:30px; background-position:center center; background-repeat:no-repeat; background-color:white;}
}

label.small {font-size:12px;}

.white {background:white;}
.white.profile {padding:0 20px;}
.search {padding:15px; padding-bottom:0;}

a:hover {color:$yellow;}

label.radio:before, label.check:before {  
    content: "";  
    display: inline-block;  
    width: 21px;  
    height: 21px;  
    margin-right: 10px;  
    left: 0;  
    top:5px;
    position:relative;
    background-color: white;  
    border-radius: 20px; 
    border: 4px solid white;
    box-shadow: 0px 0px 0px 1px #B3BBC5;
}  

input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {  
    background-color: $blue;    
}  

.willis-logo {margin:20px 0}

section.top { background:white; height:70px; overflow:hidden;
  .columns {height:100%;}
}

section.blue {background:$blue; border-top:3px solid #F0F1F1;}

.form {padding-top:20px;}

section.heading {background:#F0F1F1; border-bottom:3px solid $yellow;
    h1 {font-weight:600;
      span {font-size:20px; line-height:30px; width:30px; font-weight:800; text-align:center; display:block; float:left; margin-right:3px; background:$ltblue; color:white; position:relative; top:-4px;}
      span.current {background:$yellow; color:$blue; margin-right:20px; }
      span.check {background-image:url(../images/blue-check.png); height:30px; background-position:center center; background-repeat:no-repeat; background-color:$yellow;}
    }
}

section.index {position:relative; min-height:calc(100% - 150px); background-color:$ltblue; background-image:url(../images/home-bg.jpg); background-size:cover; background-position:center center; background-repeat:no-repeat; -ms-behavior: url(/backgroundsize.min.htc);
	.stripes {position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/stripes.png);}
	.inside {position:relative; z-index:1;}
	h1 {color:white; font-size:65px; text-align:center; text-transform:none; font-weight:600; letter-spacing:2px; padding-top:120px; padding-bottom:10px; font-family:'interstate'; font-weight:600;}
	.ghost {background:url(../images/ghost.png); background:rgba(255,255,255,.75); padding:50px 0; }
	input, select {border:2px solid $blue}
	a {text-transform:uppercase}
}

.row.transaction {border-top:6px solid #F0F1F1;
  .side-info {padding-left:40px;}
}

.show-dropdown {width:200px;
  i.icon {width:20px; position:absolute; height:100%; top:0; left:10px; background-position:center center; background-size:contain; background-repeat:no-repeat; float:left;}
}
.button.dropdown > ul {border:2px solid $blue;}
.button.dropdown > ul li {border-bottom:2px solid $blue; white-space:normal; display:table; min-height:30px;
  a {display:table-cell; vertical-align:middle; position:relative; padding:0 0 0 40px;}
}
.button.dropdown > ul li:last-of-type {border-bottom:none;}
.button.dropdown > ul li:hover {background:$yellow;}


.five-down {position:relative;
  ul {position:absolute; top:0; left:-70px; list-style:none;
    li {width:60px; height:60px; display:block;margin-bottom:5px; position:relative; z-index:9; overflow:hidden; transition:none;
      i.icon {width:60px; display:block; height:60px; float:none; background-position:center center; background-repeat:no-repeat; background-color:$ltblue;}
      span {position:absolute; left:60px; line-height:60px; top:0; background:$ltblue; color:$blue; text-transform:uppercase; padding:0 20px 0 0;}
    }
    li:hover i, li.current i, li:hover span, li.current span {cursor:pointer; background-color:$yellow;}
    li:hover {width:350px;}
  }
}


i.icon.pdf {background-image:url(../images/pdf.png)}
i.icon.renew {background-image:url(../images/renew.png)}
i.icon.amend {background-image:url(../images/amend.png)}
i.icon.cancel {background-image:url(../images/trash.png)}
i.icon.claim {background-image:url(../images/claim.png)}

section.reports-header {background:#495B73; padding:20px; color:white; text-transform:uppercase; margin-bottom:0px}

section.main { background:#F0F1F1;
	.row { padding:20px 0; background:white; padding:0;}
	.row.first {padding-top:20px;}
	.row.last {padding-bottom:75px;}
}

section.buttons {padding:20px 0 100px;
	.columns {padding:0;}
}

section.top, section.blue {
	.columns {padding:0;}
}

.form .row {margin-bottom:20px;}

.panel.appointments {padding:10px 20px;}

.panel.appointments.callout {font-size:15px; line-height:18px; margin-bottom:10px;}

.sidebar.appointment-side { padding-bottom:0;
  .side-info {font-size:13px; text-transform:capitalize; padding:0;}
  .highlight .side-icon img {top:0;}
  .side-info.date {font-family:'interstate'; font-weight:900; font-size:12px; line-height:14px;}
}

.row.tran {margin:0;}

td.large {color:white;}

th.right {text-align:right}

section.home .button.large.dropdown {width:auto;}

section.home.curr-apt .button.large.dropdown {width:100%;}

.view-all {color:white; font-weight:600; bottom:15px; left:30px; position:absolute;}

.row.doc .twelve.columns.head, .row.transaction .twelve.columns.head {min-height:250px; position:relative; padding-bottom:40px;}

.button.action {font-size:13px; line-height:16px;}

table#reports {position:relative !important; top:-50px !important; margin:0px auto 0; background:none;border:none;}
table#reports thead {background:none;}
table#reports thead tr {height:50px;}
table#reports tbody {background:white;}
table#reports thead tr td {line-height:35px; font-family:'interstate'; font-weight:400; text-transform:uppercase; padding:9px 10px;}
table#reports tbody tr:hover {background:white;}


table#appointment-list {position:relative !important; margin:0px auto 0; background:none;border:none; top:-50px !important}
table#appointment-list thead {background:none;}
table#appointment-list thead tr {height:50px;}
table#appointment-list tbody {background:white;}
table#appointment-list thead tr td {line-height:35px; font-size:13px; color:white; font-family:'interstate'; font-weight:400; text-transform:uppercase; padding:9px 10px;}
table#appointment-list tbody tr:hover {background:white;}
table#appointment-list a {}
table#appointment-list .dropdown a {font-family:'interstate';}

div.welcome {background:white; padding:0 0 100px; border:none;}
div.sidebar {background:$blue; padding:0 0 100px; border-left:10px solid #F0F1F1;
	.highlight {text-transform:uppercase; font-size:13px; transition:all .3s ease; position:relative;
    img {left:32px; position:absolute; top:-2px;}
  }
	.highlight:hover {background:#495B73}
	.highlight.current .side-info {color:$yellow}
}

.highlight {line-height:18px; padding:10px 0; display:block; background:none;}
.highlight:hover {background:#F0F1F1;}

.noti {font-weight:600; color:$blue; font-size:13px; padding:0 10px 0 26px; }
.info {color:$ltblue; font-size:13px;}

.side-info {color:white; font-weight:600;}

section.appointment.review {
  .row {padding-bottom:40px;}
}
section.appointment.review.second {margin-top:38px;}

section.complete {text-align:center; text-transform:uppercase;
  .row {background:white; padding:40px 20px;}
}

.policy {margin:20px auto;}

section.alert {margin-top:0; margin-bottom:20px;}

div.alert-box.alert {color:white; text-shadow:none; font-weight:800; font-size:20px; padding:20px 20px; margin:0; border:none; text-transform:uppercase;}
div.alert-box.alert.l {text-align:left;}

table#calculator { border:none; font-size:13px; border-top:1px solid $ltblue; padding:0; font-family:'interstate'; border-radius:0; padding-top:20px;
  tr {padding:0; font-family:'interstate'; border:none; background:none;}
  td {padding:0; line-height:22px; font-family:'interstate'; border:none; background:none; font-size:12px;}
  .line {border-bottom:1px solid $blue;}
  .r {text-align:right; font-size:13px;}
}

#footer { line-height:40px; padding:20px 0 0px; text-align:center; font-size:11px; color:$blue;}

.border-right {border-right:2px solid #F0F1F1;}
.border-left {border-left:2px solid #F0F1F1;}

.five-up { padding:0; left:0; font-size:0; margin:0;
	li {display:block; float:left; height:100px; background:white; width:20%; text-align:center;
		a {display:inline-block; height:100%; width:100%; transition:all .3s ease-out}
		a:hover {background:$yellow;
			span {color:$blue;}
		}
    div.text {display:table; width:100%; min-height:45px; padding:0 30px; line-height:15px;
      span {display:table-cell; vertical-align:middle; text-align:center; font-weight:600;}
    }
		span {font-size:13px; color:#B3BBC5; text-transform:uppercase; font-weight:600;}
		i.icon {display:block; margin:10px auto 10px; width:65px; height:35px; background-position:center center; background-size:contain; background-repeat:no-repeat}
		i.icon.home {background-image:url(../images/home.png); }
		i.icon.new {background-image:url(../images/new.png); }
		i.icon.current-appointments {background-image:url(../images/current.png); }
		i.icon.reports {background-image:url(../images/reports.png); }
		i.icon.settings {background-image:url(../images/settings.png); } 
	}
	li.current {background:#F0F1F1;
		span {color:$blue}
	}
}

section.appointment-buttons { text-align:center;
    .columns {padding:20px 0 10px;}
    a:hover {background:$yellow; cursor:pointer;}
    label {color:white;}
    img {margin-bottom:10px;}
    .back, .cancel, .save {border-right:3px solid white; background:#B3BBC5;}
    .next {background:$blue;}
}

section.app {
  .white {background:white;
    .row {margin-bottom:10px;}
  }
  h4 {color:#D8DADE; border-bottom:1px solid #D8DADE; padding-bottom:5px; font-size:16px; text-transform:uppercase; margin:15px 15px 0;}
}

.medium.success.full.button {margin:0px 0 30px}

body.index {
  #footer {padding:0;}
}

.block-grid.five-up>li {padding:0;}

.datepicker { transition:none;
  td {line-height:12px; font-family:'interstate'; font-weight:400; }
}

.cal {position:relative;}

.cal:after {content:''; display:block; background:url(../images/date.png); background-repeat:no-repeat; background-position:center center; width:45px; height:34px; position:absolute; right:10px; top:0; }

.head-icon{ display:none;
	i {width:35px; height:35px; border-radius:100%; margin:5px 0 0 0;}
}

select {
  background-color: white;
font-family: inherit;
border: 1px solid #cccccc;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-size: 13px;
height:32px;
margin: 0 0 12px 0;
padding: 6px;
width: 100%;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
-o-transition: all 0.15s linear;
transition: all 0.15s linear;
}

h1 {color:$blue; text-transform:uppercase; font-size:20px; padding:10px 0; margin:0; font-family:'interstate'; font-weight:600;}
h3 {color:#B3BBC5; margin:0 25px; font-size:24px; padding:40px 0; font-family:'interstate'; font-weight:800;}

.button {border:2px solid white; text-transform:uppercase; letter-spacing:1px;padding-left:100px; padding-right:100px;}
.button.success:hover {background:$yellow}
.button.full {width:100%;}

td.space {padding:0;}

.curr-apt div {padding:0;}
.curr-apt .curr {margin-top:15px;}

.alert {text-align:center; margin-top:30px; font-weight:400; font-size:22px; text-transform:uppercase;}

.panel {font-size:20px; letter-spacing:0px; font-weight:600; text-transform:uppercase; background:#B3BBC5; color:white; border:3px solid white; padding:10px;}
.panel.callout {background:#495B73; color:$blue; border:1px solid #495B73; box-shadow:none;}

.button.dropdown:after {display:none !important}
.button.large.dropdown {padding:10px; width:100%;}
.button.large {padding:15px 18px 16px;}

.mobile, .butterfly {display:none;}

.butterfly {text-align:center; padding:20px; cursor:pointer; background:white; color:$blue; font-weight:900; text-transform:uppercase; font-size:30px;}

.nopadd {padding:0;}


@media all and (max-width: 1260px) {
  .row.extended {max-width:960px; padding:0 0px;}
  .row.extended .logo {margin-bottom:20px; width:13%;}
  section.top {}
  .row.extended .ten {width:84%;}
  .row.extended .border-left {border:none;}

  .five-down {
    ul {position:static; text-align:center; padding-top:20px;
      li {display:inline-block; width:60px !important}
    }
  }

}

@media all and (max-width: 1000px) {
  .row.extended {max-width:960px; padding:0 0px;}
  .row.extended .logo {margin-bottom:20px; min-width:14%;}
  section.top {}
  .row.extended .ten {width:80%;}
  .row.extended .border-left {border:none;}

  .five-down {
    ul {position:static; text-align:center; padding-top:20px;
      li {display:inline-block; width:60px !important}
    }
  }

}

@media all and (max-width: 768px) {
  .counter, h1 span {display:none !important;}
  div.sidebar {border:none;}
  .butterfly {display:block !important;}
  .mobile { display:block; height:0; overflow:hidden;
    .nopad {padding:0;}
  }

  section {overflow:hidden;}
  .status {line-height:40px;}

  .top-links, section.blue {display:none;}

  section.top .columns {height:180px;}

  .row.extended {padding-bottom:20px;}

  .highlight {padding:10px 20px;
    img {display:none;}
  }

  .months {border:none !important;}

  .button.success {line-height:20px;}

  #appointment-list {
    thead {display:none}
    td {display:block; width:100%; background:white; border-bottom:1px solid #D8DADE; padding:10px 15px}
    td:last-of-type {padding-bottom:100px;}
    tr {
      td:nth-of-type(1):before {content:'Appointment Name: '; display:inline; }
      td:nth-of-type(2):before {content:'Date of Appt: '; display:inline; }
      td:nth-of-type(3):before {content:'Next Expiry: '; display:inline; }
      td:nth-of-type(4):before {content:'Current Status '; display:inline; }
    }
  }

  .locked {display:block; padding-bottom:20px;}

  .noti {padding:0 10px 0 15px}

  .curr-apt .curr {padding:15px;}

  .two.columns.search {border:none;}

  .five-down {
    ul {position:static; text-align:center; padding-top:20px;
      li {display:inline-block; width:60px !important}
    }
  }

  .mm {margin:0 !important; padding:0;}
  section.index h1 {font-size:20px;}

  section.appointment-buttons .back, section.appointment-buttons .cancel, section.appointment-buttons .save {display:block !important;}
  a.next {display:block !important;}
  .row.extended div.logo {float:none; display:block; margin:auto; padding-top:20px; left:0; text-align:center;}
  .row.extended h3 {float:none; text-align:center; padding-top:20px !important}
  .row.extended .top-links, .row.extended .status {margin:auto; float:none; text-align:center; border:none;}
  .row.extended .status {padding:20px 0 0;}
  .row.extended .top-links {padding-bottom:20px !important;}
  section.top {height:auto;}
  .create img {display:none;}
  a.create {padding:0;}

  .five-up {
    li { 
      i.icon {display:none;}
      a {height:auto;}
    }
  }

  h1 {text-align:center; padding-bottom:10px;}

  .head-icon i {float:none; margin:0 auto 20px; display:block;}

  .block-grid.five-up > li {width:100%; height:auto;
    a {padding:10px 20px;}
  }
}


/*
.datepicker {
  .prev, .next {font-style:normal;}
  .prev:after {content:"«";}
  .next:after {content:"»";}
}
*/
/*!
 * Datepicker for Foundation - less stylesheet, just version customized to foundation
 *
 * Copyright 2013 Peter Beno, najlepsiwebdesigner@gmail.com, @benopeter
 * project website http://foundation-datepicker.peterbeno.com
 *
 * Original project https://github.com/eternicode/bootstrap-datepicker
 *    Original author 2012 Stefan Petre
 *    Improvements by Andrew Rowls
 *    Licensed under the Apache License v2.0
 *    http://www.apache.org/licenses/LICENSE-2.0
 */.datepicker.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;float:left;display:none;min-width:160px;list-style:none;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;*border-right-width:2px;*border-bottom-width:2px;color:#333;font-family:"Open Sans",sans-serif;font-size:13px;line-height:18px}.datepicker.dropdown-menu th,.datepicker.dropdown-menu td{padding:4px 5px}.datepicker{display:none;position:absolute;padding:4px;margin-top:1px;direction:ltr}.datepicker-inline{width:220px}.datepicker-rtl{direction:rtl}.datepicker-rtl table tr td span{float:right}.datepicker-dropdown{top:0;left:0}.datepicker-dropdown:before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:6px}.datepicker-dropdown:after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}.datepicker>div{display:none}.datepicker.days div.datepicker-days{display:block}.datepicker.months div.datepicker-months{display:block}.datepicker.years div.datepicker-years{display:block}.datepicker table{border:0;margin:0}.datepicker td,.datepicker th{text-align:center;width:20px;height:20px;border:0;font-size:12px;padding:4px 8px;background:#fff;cursor:pointer}.datepicker td.active.day,.datepicker th.active.day{background:$yellow; color:$blue}.datepicker td.active.year,.datepicker th.active.year{background:#2ba6cb}.datepicker td span.active,.datepicker th span.active{background:#2ba6cb}.table-striped .datepicker table tr td,.table-striped .datepicker table tr th{background-color:transparent}.datepicker table tr td span{display:block;width:23%;height:54px;line-height:54px;float:left;margin:1%;cursor:pointer}.datepicker th.date-switch{width:145px}.datepicker thead tr:first-child th,.datepicker tfoot tr:first-child th{cursor:pointer}.datepicker .cw{font-size:10px;width:12px;padding:0 2px 0 5px;vertical-align:middle}.datepicker thead tr:first-child th.cw{cursor:default;background-color:transparent}.datepicker-dropdown::before,.datepicker-dropdown::after{display:none}.datepicker-close{position:absolute;top:-30px;right:0;width:15px;height:30px;padding:0;display:none}.datepicker td.old,.datepicker td.new{color:#999}.datepicker td.day.disabled{color:#eee}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */















