div.four.columns.sidebar.appointment-side
	div.row.doc
		div.twelve.columns.head
			div.panel.appointments.callout Documentation

			a.highlight(href='#')
				div.row.mm
					div.two.columns.side-icon
						img(src="images/file.png")
					div.ten.columns.side-info Invoice_210414

			a.highlight(href='#')
				div.row.mm
					div.two.columns.side-icon
						img(src="images/file.png")
					div.ten.columns.side-info Policy_210414

			a.view-all(href='#') View All

	div.row.transaction
		div.twelve.columns.head
			div.panel.appointments.callout Transaction History

			a.highlight(href='#')
				.row.tran
					div.twelve.columns.mm
						div.twelve.columns.side-info.date 25/12/2014
					div.twelve.columns.mm
						div.twelve.columns.side-info Transaction Name

			a.highlight(href='#')
				.row.tran
					div.twelve.columns.mm
						div.twelve.columns.side-info.date 25/12/2014
					div.twelve.columns.mm 
						div.twelve.columns.side-info Transaction Name


			a.view-all(href='#') View All