div.five-down.row
	ul
		li
			a(href='#')
				i.icon.pdf
				span Confirmation of Placement

		if bodyClass == "appointment renew"
			li.current
				a(href='appointment-renew.html')
					i.icon.renew
					span Renew
		else
			li
				a(href='appointment-renew.html')
					i.icon.renew
					span Renew

		if bodyClass == "appointment amend"
			li.current
				a(href='appointment-amend.html')
					i.icon.amend
					span Amend
		else
			li 
				a(href='appointment-amend.html')
					i.icon.amend
					span Amend

		if bodyClass == "appointment cancel"
			li.current
				a(href='appointment-cancel.html')
					i.icon.cancel
					span Cancel
		else
			li
				a(href='appointment-cancel.html')
					i.icon.cancel
					span Cancel

		if bodyClass == "appointment claim"
			li.current
				a(href='appointment-claim.html')
					i.icon.claim
					span Lodge a Claim
		else
			li 
				a(href='appointment-claim.html')
					i.icon.claim
					span Lodge a Claim

