#footer
	span Copyright &copy; 2015 Willis Group Holdings | AFSL 240600

script(src='javascripts/jquery.js')
script(src='javascripts/foundation.min.js')
script(src='javascripts/background-size.js')
script(src='javascripts/foundation-datepicker.js')
script(src='javascripts/app.js')
