doctype html
html
	head
		title Willis
		link(rel='stylesheet', href='stylesheets/foundation.css')
		link(rel='stylesheet', href='stylesheets/screen.css')
		script(src='bower_components/modernizr/modernizr.js')

		include _ie.html

	body(class='#{bodyClass}')

		section.top
			div.twelve.columns.border-bottom
				div.row.extended
					div.logo
						a(href="home.html")
							img(src="images/willis.png")
					div.ten.columns.border-left
						h3 Sentinel
						.top-links
							a(href='#') About
							a(href='#') Contact