doctype html
html
	head
		title Willis
		link(rel='stylesheet', href='stylesheets/foundation.css')
		link(rel='stylesheet', href='stylesheets/screen.css')
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		meta(name="viewport" content="width=600, user-scalable=no" initial-scale='1')
		include _ie.html

	body(class='#{bodyClass}')

	include _top-menu

	include _menu