section.blue
	div.row
		div.twelve.columns
			ul.block-grid.five-up
				if bodyClass == "home"
					li.border-right.border-left.current
						a(href='home.html')
							i.icon.home
							div.text
								span home
				else
					li.border-right.border-left
						a(href='home.html')
							i.icon.home
							div.text
								span home
								
				if bodyClass == "new-appointment"
					li.border-right.border-left.current
						a(href='new-appointment.html')
							i.icon.new
							div.text
								span new appointment
				else
					li.border-right.border-left
						a(href='new-appointment.html')
							i.icon.new
							div.text
								span new appointment

				if bodyClass == "current-appointments"
					li.border-right.border-left.current
						a(href='current-appointments.html')
							i.icon.current-appointments
							div.text
								span current appointments
				else
					li.border-right.border-left
						a(href='current-appointments.html')
							i.icon.current-appointments
							div.text
								span current appointments

				if bodyClass == "reports"
					li.border-right.border-left.current
						a(href='reports.html')
							i.icon.reports
							div.text
								span reports
				else
					li.border-right.border-left
						a(href='reports.html')
							i.icon.reports
							div.text
								span reports

				if bodyClass == "profile settings" || bodyClass == "manage settings"  || bodyClass == "company settings" 
					li.border-right.border-left.current
						a(href='settings-profile.html')
							i.icon.settings
							div.text
								span settings
				else
					li.border-right.border-left
						a(href='settings-profile.html')
							i.icon.settings
							div.text
								span settings

section.butterfly
	div.row
		div.twelve.columns.nopad
			div.row Menu

section.mobile 
	div.row
		div.twelve.columns.nopad
			ul.block-grid.five-up
				li.border-right.border-left
					a(href='home.html')
						i.icon.home
						div.text
							span home
				li.border-right.border-left
					a(href='new-appointment.html')
						i.icon.new
						div.text
							span new appointment
				li.border-right.border-left
					a(href='current-appointments.html')
						i.icon.current-appointments
						div.text
							span current appointments
				li.border-right.border-left
					a(href='reports.html')
						i.icon.reports
						div.text
							span reports
				li.border-right.border-left
					a(href='settings-profile.html')
						i.icon.settings
						div.text
							span settings
				li.border-right.border-left
					a(href='#')
						i.icon.settings
						div.text
							span about
				li.border-right.border-left
					a(href='#')
						i.icon.settings
						div.text
							span contact
