div.four.columns.sidebar
	div.row
		div.twelve.columns
			div.panel.callout My Settings

			if bodyClass == "profile settings"
				a.highlight.current(href="settings-profile.html")
					div.row
						div.two.columns.side-icon
							img(src="images/profile-yellow.png")
						div.ten.columns.side-info My Profile
			else
				a.highlight(href="settings-profile.html")
					div.row
						div.two.columns.side-icon
							img(src="images/profile-small.png")
						div.ten.columns.side-info My Profile

			if bodyClass == "manage settings"
				a.highlight.current(href="settings-manage.html")
					div.row
						div.two.columns.side-icon
							img(src="images/manage-yellow.png")
						div.ten.columns.side-info Manage Users
			else
				a.highlight(href="settings-manage.html")
					div.row
						div.two.columns.side-icon
							img(src="images/manage-small.png")
						div.ten.columns.side-info Manage Users

			if bodyClass == "company settings"
				a.highlight.current(href="settings-company.html")
					div.row
						div.two.columns.side-icon
							img(src="images/building-yellow.png")
						div.ten.columns.side-info Manage Company Details
			else
				a.highlight(href="settings-company.html")
					div.row
						div.two.columns.side-icon
							img(src="images/building-small.png")
						div.ten.columns.side-info Manage Company Details
