section.top
	div.twelve.columns.border-bottom
		div.row.extended
			div.logo
				a(href="home.html")
					img(src="images/willis.png")
			div.ten.columns.border-left
				h3 Sentinel
				.status Logged in as [username], [account]
					a.logout(href="#") Logout
				.top-links.page
							a(href='#') About
							a(href='#') Contact