extends ./main.jade

block vars
	- var bodyClass = 'appointment renew';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Renew
				div.row.border
					div.six.columns
						label Period of Cover
						span.locked 21/04/2014 - 21/04/2015
					div.six.columns
						.row.collapse
							label Renewal Period Required
							.row.collapse
								.six.columns
									input(type='text', placeholder='')
								.six.columns
									span.postfix.months.locked months 

				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Calculate Renewal Premium

				div.row
					div.four.columns.calculator
						table#calculator(width="100%" cellpadding='0' cellspacing='0')
							tr
								td(width="80%") Base
								td $
								td.r 100
							tr
								td FSL
								td $
								td.r 100
							tr
								td GST
								td $
								td.r 100
							tr
								td Stamp Duty
								td.line $
								td.line.r 100
							tr
								td Admin Fee
								td $
								td.r 100
							tr
								td Admin Fee GST
								td.line $
								td.line.r 100
							tr
								td Total Due
								td $
								td.r 100

				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Submit Renewal Request

			include _appointment
