extends ./main.jade

block vars
	- var bodyClass = 'appointment';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Current Details
				div.row
					div.twelve.columns
						label Status
						span.locked Cover Placed and Invoiced
				div.row
					div.six.columns
						label Appointment Date
						span.locked 21/04/2014
					div.six.columns
						label Period of Cover
						span.locked 21/04/2014 - 21/04/2015
				div.row
					div.twelve.columns
						label Situation
						span.locked 123 Fake St. St Kilda, Victoria 3182

				div.row
					h4 General
				div.row
					div.six.columns
						label Type of Cover
						span.locked Home Elite
					div.six.columns
						label Insured Name
						span.locked Bob Brown
				div.row
					div.six.columns
						label Mortgagee
						span.locked GE Money
					div.six.columns
						label Interested Party
						span.locked ---

				div.row
					h4 Insured Values
				div.row
					div.six.columns
						label Building
						span.locked $140,000
					div.six.columns
						label Contents
						span.locked $50,000
				div.row
					div.six.columns
						label Specified Items
						span.locked Not Insured
					div.six.columns
						label Legal Liability
						span.locked $20,000,000

				div.row
					h4 Building Details
				div.row
					div.six.columns
						label Building Type
						span.locked House
					div.six.columns
						label Occupancy
						span.locked Unoccupied
				div.row
					div.six.columns
						label Condition
						span.locked Good
					div.six.columns
						label Heritage Listed
						span.locked No
				div.row
					div.twelve.columns
						label Pre-Appointment Damage
						span.locked ---
				div.row
					div.twelve.columns
						label Claims History
						span.locked ---
					div.four.columns

			include _appointment
