extends ./main.jade

block vars
	- var bodyClass = 'appointment cancel';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Cancel
				div.row
					div.twelve.columns
						label Current Period of Cover
						span.locked 21/04/2014

				div.row
					div.six.columns
						label Cancellation with Effect From
						.cal
							input.date-pick(type='text', placeholder='')

				div.row
					h4 Return Premium
				div.row
					div.four.columns.calculator
						table#calculator(width="100%" cellpadding='0' cellspacing='0')
							tr
								td(width="80%") Base
								td $
								td.r 100
							tr
								td FSL
								td $
								td.r 100
							tr
								td GST
								td $
								td.r 100
							tr
								td Stamp Duty
								td.line $
								td.line.r 100
							tr
								td Admin Fee
								td $
								td.r 100
							tr
								td Admin Fee GST
								td.line $
								td.line.r 100
							tr
								td Total Due
								td $
								td.r 100

				div.row
					h4 Bank Account Details
				div.row
					div.six.columns
						label Account Name
						input(type='text', placeholder='')
				div.row
					div.six.columns
						label BSB
						input(type='text', placeholder='')
					div.six.columns
						label Account Number
						input(type='text', placeholder='')
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Cancel Appointment

			include _appointment
