extends ./main.jade

block vars
	- var bodyClass = 'appointment amend';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Amend
				div.row
					div.twelve.columns
						label Status
						span.locked Cover Placed and Invoiced
				div.row
					div.six.columns
						label Appointment Date
						span.locked 21/04/2014
					div.six.columns
						label Period of Cover
						span.locked 21/04/2014 - 21/04/2015
				div.row
					div.twelve.columns
						label Situation
						input(type='text', value='123 Fake St. St Kilda, Victoria 3182')

				div.row
					h4 General
				div.row
					div.six.columns
						label Type of Cover
						| Home Elite
					div.six.columns
						label Insured Name
						input(type='text', value='Bob Brown')
				div.row
					div.six.columns
						label Mortgagee
						input(type='text', value='GE Money')
					div.six.columns
						label Interested Party
						input(type='text', placeholder='---')

				div.row
					h4 Insured Values
				div.row
					div.six.columns
						label Building
						input(type='text', value='$140,000')
					div.six.columns
						label Contents
						input(type='text', value='$50,000')
				div.row
					div.six.columns
						label Specified Items
						input(type='text', value='Not Insured')
					div.six.columns
						label Legal Liability
						input(type='text', value='$20,000,000')

				div.row
					h4 Building Details
				div.row
					div.six.columns
						label Building Type
						input(type='text', value='House')
					div.six.columns
						label Occupancy
						input(type='text', value='Unoccupied')
				div.row
					div.six.columns
						label Condition
						input(type='text', value='Good')
					div.six.columns
						label Heritage Listed
						input(type='text', value='No')
				div.row
					div.twelve.columns
						label Pre-Appointment Damage
						input(type='text', placeholder='---')
				div.row
					div.twelve.columns
						label Claims History
						input(type='text', placeholder='---')
					div.four.columns
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Save Changes
			include _appointment
