extends ./main.jade

block vars
	- var bodyClass = 'appointment claim';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Lodge a Claim
				div.row
					div.six.columns
						label Date of Loss/Damage
						.cal
							input.date-pick(type='text', placeholder='')
				div.row
					div.twelve.columns
						label Location
						input(type='text', placeholder='')
				div.row
					div.twelve.columns
						label Description of Incident
						textarea(type='text', placeholder='', rows='7')
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Submit

			include _appointment
