extends ./main.jade

block vars
	- var bodyClass = 'current-appointments';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Current Appointments
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")
	section.home.curr-apt
		div.row.curr
			.six.columns
				row.collapse
					.ten.columns
						input(type='text', placeholder='Search')
					.two.columns.search
						a(href="#")
							span.postfix.search 
			.six.columns
				a.excel.right(href='#') Export to Excel

		section.reports-header
			div.row
				div.two.columns &nbsp;
				div.five.columns &nbsp;
				div.five.columns &nbsp;

		div.row
			table#appointment-list(width="100%", cellspacing="0")
				thead
					tr
						td Appointment Name 
						td Date of Appt
						td Next Expiry
						td Current Status
						td
				tbody
					tr
						td 
							a(href='appointment.html') Appointment A001
						td 21/04/14
						td 21/04/14
						td Cover Placed & Invoiced
						td
							div.large.button.dropdown.action(href='#') Action +
								ul.no-hover(style='top: 49px;')
									li
										a(href='#')
											i.icon.pdf
											| Confirmation of Placement
									li
										a(href='appointment-renew.html') 
											i.icon.renew
											| Renew
									li
										a(href='appointment-amend.html') 
											i.icon.amend
											| Amend
									li
										a(href='appointment-cancel.html') 
											i.icon.cancel
											| Cancel
									li
										a(href='appointment-claim.html') 
											i.icon.claim
											| Lodge a Claim
						tr
							td 
								a(href='appointment.html') Appointment A001
							td 21/04/14
							td 21/04/14
							td Cover Placed & Invoiced
							td
								div.large.button.dropdown.action(href='#') Action +
									ul.no-hover(style='top: 49px;')
										li
											a(href='#')
												i.icon.pdf
												| Confirmation of Placement
										li
											a(href='appointment-renew.html') 
												i.icon.renew
												| Renew
										li
											a(href='appointment-amend.html') 
												i.icon.amend
												| Amend
										li
											a(href='appointment-cancel.html') 
												i.icon.cancel
												| Cancel
										li
											a(href='appointment-claim.html') 
												i.icon.claim
												| Lodge a Claim
						tr
							td 
								a(href='appointment.html') Appointment A001
							td 21/04/14
							td 21/04/14
							td Cover Placed & Invoiced
							td
								div.large.button.dropdown.action(href='#') Action +
									ul.no-hover(style='top: 49px;')
										li
											a(href='#')
												i.icon.pdf
												| Confirmation of Placement
										li
											a(href='appointment-renew.html') 
												i.icon.renew
												| Renew
										li
											a(href='appointment-amend.html') 
												i.icon.amend
												| Amend
										li
											a(href='appointment-cancel.html') 
												i.icon.cancel
												| Cancel
										li
											a(href='appointment-claim.html') 
												i.icon.claim
												| Lodge a Claim