extends ./main.jade

block vars
	- var bodyClass = 'home';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Welcome
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-home.png")

	section.home
		div.row
			div.eight.columns.welcome
				div.row
					div.twelve.columns
						div.panel New Notifications
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request

			include _my-settings