extends ./index-layout.jade

block vars
	- var bodyClass = 'index';

block content
	section.index
		div.stripes
		div.inside
			h1 Resilience for a risky world
			section.ghost
				div.row
					div.six.columns
						label Username
						input(type='text', placeholder='')
					div.six.columns
						label Password
						input(type='password', placeholder='')
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Login
				div.row.under
					div.six.columns
						a.create(href="profile.html") 
							img(src="images/create.png")
							| Create New User
					div.six.columns
						a.right(href="#") Forgot Your Password?