extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span 1
					span.current 2
					| Property Details
			div.two.columns.counter
				span 3
				span.check
			div.two.columns.head-icon
				i.icon.right
					img(src="images/building.png")

	section.appointment
		div.row.border
			div.panel Insured Values
		div.row
			div.six.columns
				label Building
				input(type='text', placeholder='')
		div.row
			div.three.columns
				label Contents
				input#standard(type='radio', name='contents_value', value='Standard')
				label.radio(for='standard') Standard ($50,000)
				input#other(type='radio', name='contents_value', value='Other')
				label.radio(for='other') Other (Specify)
			div.three.columns
				input.specify(type='text', placeholder='$')
			div.six.columns
				label Legal Liability
				span.locked $20,000,000

	section.appointment
		div.row.border
			div.panel Building Details
		div.row
			div.four.columns
				label Building Type
				select
					option(value='Type 1') Type 1
					option(value='Type 2') Type 2
					option(value='Type 3') Type 3
			div.four.columns
				label Occupancy
				select
					option(value='1-3') 1-3
					option(value='4-10') 4-10
					option(value='10+') 10+
			div.four.columns
				label Condition of Property
				select
					option(value='Like New') Like New
					option(value='Average') Average
					option(value='Poor') Poor
		div.row
			div.six.columns
				label Heritage Listed
				input#yes-heritage(type='radio', name='heritage_listed', value='Yes')
				label.left.radio(for='yes-heritage') Yes
				input#no-heritage(type='radio', name='heritage_listed', value='No')
				label.left.radio(for='no-heritage') No
			div.four.columns
				label.small Upload Required Valuation Report
				a.medium.success.upload.button(href='#') Choose File

	section.appointment
		div.row.border
			div.panel Claims History
		div.row
			div.six.columns
				label Have Their Been Any Claims in the Past 5 Years?
				input#yes-previous(type='radio', name='previous_claims', value='Yes')
				label.left.radio(for='yes-previous') Yes
				input#no-previous(type='radio', name='previous_claims', value='No')
				label.left.radio(for='no-previous') No
		div.row
			div.twelve.columns
				label If Yes, Provide Details
				textarea(type='text', placeholder='', rows='7')

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="new-appointment.html")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-3.html")
				img(src="images/next.png")
				label Next








