extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span.current 1
					| General Information
			div.two.columns.counter
				span 2
				span 3
				span.check
			div.two.columns.head-icon
				i.icon.right
					img(src="images/gray-clipboard.png")

	section.appointment
		div.row
			div.six.columns.white.form
				label Appointment Date 
				.cal
					input.date-pick(type='text', placeholder='')
				label.small nb. initial policy period is 6 months
			div.six.columns.white.form
				label Reference ID
				input(type='text', placeholder='')
					
	section.appointment
		div.row.border
			div.panel Situation
		div.row
			div.six.columns
				label Address 1
				input(type='text', placeholder='')
			div.six.columns
				label Address 2 (Optional)
				input(type='text', placeholder='')
		div.row
			div.six.columns
				label City
				input(type='text', placeholder='')
			div.three.columns
				label State
				select
					option(value='Victoria') Victoria
					option(value='New South Wales') New South Wales
					option(value='Queensland') Queensland
					option(value='Western Australia') Western Australia
					option(value='South Australia') South Australia
					option(value='Tasmania') Tasmania
			div.three.columns
				label Postcode
				input(type='text', placeholder='')

	section.appointment
		div.row.border
			div.panel Insured Details
		div.row
			div.six.columns
				label Insured Name
				input(type='text', placeholder='')
			div.six.columns
				label Mortgagee
				input(type='text', placeholder='')
		div.row
			div.six.columns
				label Interested Party (Optional)
				input(type='text', placeholder='')

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="#")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-2.html")
				img(src="images/next.png")
				label Next








