extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span 1
					span 2
					span 3
					span.current.check
					| Submit
			div.two.columns.counter
			div.two.columns.head-icon
				i.icon.right
					img(src="images/submit.png")

	section.complete
		div.row
			div.twelve.center Thank You For Your Submission
		a.medium.success.policy.button(href='#') Access Policy Documentation