extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span 1
					span 2
					span 3
					span.current.check
					| Submit
			div.two.columns.counter
			div.two.columns.head-icon
				i.icon.right
					img(src="images/submit.png")

	section.alert
		div.row
			div.alert-box.alert.l(data-alert='') Are You Sure You Wish To Proceed?

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="new-appointment-3.html")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-5.html")
				img(src="images/send.png")
				label Send

	section.appointment.review.second
		div.row.form
			div.three.columns
				label Appointment Date
				span.locked 21/04/2014
			div.nine.columns
				label Period of Cover
				span.locked 21/04/2014 - 21/10/2014
		div.row
			div.twelve.columns
				label Reference ID
				span.locked 12345678
		div.row
			div.twelve.columns
				label Situation
				span.locked 123 Fake St. St Kilda, Victoria 3182
		div.row
			div.three.columns
				label Insured Name
				span.locked Bob Brown
			div.three.columns
				label Mortgagee
				span.locked GE Money
			div.six.columns
				label Interested Party
				span.locked ---
		div.row
			div.three.columns
				label Building
				span.locked $140,000
			div.three.columns
				label Contents
				span.locked $50,000
			div.three.columns
				label Specified Items
				span.locked Not Insured
			div.three.columns
				label Legal Liability
				span.locked $20,000,000
		div.row
			div.three.columns
				label Building Type
				span.locked House
			div.three.columns
				label Occupancy
				span.locked Unoccupied
			div.three.columns
				label Condition
				span.locked Good
			div.three.columns
				label Heritage Listed
				span.locked No
		div.row
			div.twelve.columns
				label Pre-Appointment Damage
				span.locked ---
		div.row
			div.twelve.columns
				label Claims History
				span.locked ---