extends ./main.jade

block vars
	- var bodyClass = 'profile';

block content
	section.heading
		div.row
			div.eight.columns
				h1 My Profile
			div.four.columns.head-icon
				i.icon.right
					img(src="images/my-profile.png")

	section.main
		div.row.first
			div.four.columns
				label First Name
				input(type='text', placeholder='')
			div.four.columns
				label Last Name
				input(type='text', placeholder='')
			div.four.columns
				label Email
				input(type='email', placeholder='')

		div.row
			div.four.columns
				label Enable Email Notifications
				input#yes-email(type='radio', name='email-notification', value='Yes')
				label.left.radio(for='yes-email') Yes
				input#no-email(type='radio', name='email-notification', value='No')
				label.left.radio(for='no-email') No
			div.four.columns
				label Password
				input(type='password', placeholder='')
			div.four.columns
				label Re-Enter Password
				input(type='password', placeholder='')

		div.row
			div.four.columns
				label Lender/Trustee
				select
					option(value='Option 1') Option 1
					option(value='Option 2') Option 2
					option(value='Option 3') Option 3
					option(value='Option 4') Option 4

		div.row.last
			div.twelve.columns
				label Willis' Internet Terms of Use
				input#terms(type='checkbox')
				label.check(for='terms') I Agree to the Terms of Use

	section.buttons
		div.row
			div.six.columns
				a.medium.secondary.button(href='#') Back
			div.six.columns
				a.medium.success.right.button(href='#') Submit for Approval