extends ./main.jade

block vars
	- var bodyClass = 'reports';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Reports
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-reports.png")

	section.reports-header
		div.row
			div.two.columns &nbsp;
			div.five.columns &nbsp;
			div.five.columns &nbsp;

	section.home
		div.row
			table#reports(width="100%", cellspacing="0")
				thead
					tr
						td.space(width="50px") 
						td.large Report
						td.large Date Added
				tbody
					tr#status-reports.light.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Status Report
						td 18/10/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/09/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/08/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/07/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/06/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/05/2014

					tr#debtor-reports.dark.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/10/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/09/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/08/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/07/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/06/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/05/2014

					tr#claims-reports.light.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Claims Report
						td 18/10/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/09/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/08/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/07/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/06/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/05/2014

					tr#users-reports.dark.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Users Report
						td 18/10/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/09/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/08/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/07/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/06/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/05/2014