extends ./main.jade

block vars
	- var bodyClass = 'profile settings';

block content
	section.heading
		div.row
			div.eight.columns
				h1 My Profile
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-settings.png")

	section.home
		div.row
			div.eight.columns.white.profile
				div.row
					div.twelve.columns.form
						div.row.first
							div.twelve.columns
								label Email Address
								input(type='email', placeholder='')
						div.row
							div.twelve.columns
								label Enable Email Notifications
								input#yes-email(type='radio', name='email-notification', value='Yes')
								label.left.radio(for='yes-email') Yes
								input#no-email(type='radio', name='email-notification', value='No')
								label.left.radio(for='no-email') No
						div.row
							div.six.columns
								label Current Password
								input(type='password', placeholder='')
						div.row
							div.six.columns
								label New Password
								input(type='password', placeholder='')
							div.six.columns
								label Re-enter New Password
								input(type='password', placeholder='')
						div.row
							div.six.columns
								a.medium.success.full.button(href='#') Change

						div.row
							div.twelve.columns
								label Address 1
								span.locked 123 Fake St
						div.row
							div.twelve.columns
								label Address 2
								span.locked Line 2
						div.row
							div.twelve.columns
								label City
								span.locked St Kilda
						div.row
							div.six.columns
								label State
								span.locked Victoria
							div.six.columns
								label Postcode
								span.locked 3182
						div.row
							div.twelve.columns
								a.medium.success.full.button(href='#') Save Changes


			include _my-settings