extends ./main.jade

block vars
	- var bodyClass = 'company settings';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Company Details
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-settings.png")

	section.home
		div.row
			div.eight.columns.white.profile
				div.row
					div.twelve.columns.form
						div.row.first
							div.twelve.columns
								label Company Name
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label Address 1
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label Address 2 (optional)
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label City
								input(type='text', placeholder='')
						div.row
							div.six.columns
								label State
								select
									option(value='Victoria') Victoria
									option(value='New South Wales') New South Wales
									option(value='Queensland') Queensland
									option(value='Western Australia') Western Australia
									option(value='South Australia') South Australia
									option(value='Tasmania') Tasmania
							div.six.columns
								label Postcode
								input(type='text', placeholder='')

						div.row
							div.twelve.columns
								label Administrators
								table(width="100%", cellspacing="0")
									thead
										tr
											th User Name
											th(width='150') Date Added
											th.right(width='200') Access Level
									tbody
										tr
											td John
											td 18/10/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

										tr
											td Sally
											td 13/03/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin
										tr
											td Frank
											td 28/01/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

						div.row
							div.twelve.columns
								a.medium.success.full.button(href='#') Save Changes



			include _my-settings