extends ./main.jade
index
block vars
	- var bodyClass = 'manage settings';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Manage Users
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-settings.png")

	section.home
		div.row
			div.eight.columns.white
				div.row
					div.twelve.columns
						div.row.search
							div.seven.columns.nopadd
								.row.collapse
									.ten.columns
										input(type='text', placeholder='Search')
									.two.columns.search
										a(href="#")
											span.postfix.search 
							div.five.columns
								a.excel.right(href='#') Export to Excel
						
						div.row
							div.twelve.columns
								table(width="100%", cellspacing="0")
									thead
										tr
											th User Name
											th(width='150') Date Added
											th.right(width='200') Access Level
									tbody
										tr
											td John
											td 18/10/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

										tr
											td Sally
											td 13/03/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin
										tr
											td Frank
											td 28/01/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

						div.row
							div.twelve.columns
								a.medium.success.full.button(href='#') Save Changes



			include _my-settings