<h3>Second set of updates Jan 29</h3>

<ul>
<li>Header reduced height</li>
<li>Form Headings color changed</li>
<li>Dropdowns made shorter</li>
<li>Font sizes changed globally, most fonts 13px, headings 20px</li>
<li>Equalized margins on tables</li>
<li>Cleaned formatting on tables</li>
</ul>


<h3>Updates Jan 29</h3>

<ul>
<li>IE bug fixed- Tested in IE8+</li>
<li>Menu reduced further, icons and padding</li>
<li>Headings reduced 75%, small icons</li>
<li>Padding on tops of forms reduced 75%</li>
<li>Input heights reduced by 33%</li>
<li>Table font sizes reduced to 14px</li>
<li>Table padding reduced by over 75%</li>
<li>Table buttons reduced in size to fit inline</li>
<li>Appointment bottom icons smaller, padding reduced</li>
<li>Administrators Email removed from Profile signup</li>
<li>Lender Trustee removed from index page and added to Profile signup</li>
<li>Added Adminstrators section to Manage Company Details page</li>
<li>Current Appointments, Ammend Appointment- Type of cover is now non-editable</li>
<li>Copyright changed to 2015</li>
</ul>


<h3>Updates Jan 28</h3>

<ul>
<li>Times New Roman font REMOVED</li>
<li>Reduced height of Header</li>
<li>Reduced size of Main Navigation (icons and overall height)</li>
<li>Pointer Cursor removed from input label</li>
<li>Dropdowns added to New Appointment (General Information &amp; Property Details)</li>
<li>Added accordion style dropdowns to Reports page</li>
</ul>


<h2>Template Listing</h2>

<ul>
<li>Index <code>index.html</code></li>
<li>New User <code>profile.html</code> <code>profile-error.html</code></li>
<li>Dashboard <code>home.html</code></li>
<li>New Appointment Form <code>new-appointment.html (pt 1-5)</code></li>
<li>Appointments <code>appointment.html</code> <code>appointment-amend.html</code> <code>appointment-cancel.html</code> <code>appointment-claim.html</code> <code>appointment-renew.html</code></li>
<li>Reports <code>reports.html</code></li>
<li>Settings <code>settings-profile.html</code> <code>settings-manage.html</code> <code>settings-company.html</code></li>
</ul>

