@charset "UTF-8";
@font-face {
  font-family: 'interstate';
  src: url("../fonts/interstateplus_regular-webfont.eot");
  src: url("../fonts/interstateplus_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstateplus_regular-webfont.woff2") format("woff2"), url("../fonts/interstateplus_regular-webfont.woff") format("woff"), url("../fonts/interstateplus_regular-webfont.ttf") format("truetype"), url("../fonts/interstateplus_regular-webfont.svg#interstateplusregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'interstate';
  src: url("../fonts/interstate_bold-webfont.eot");
  src: url("../fonts/interstate_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate_bold-webfont.woff2") format("woff2"), url("../fonts/interstate_bold-webfont.woff") format("woff"), url("../fonts/interstate_bold-webfont.ttf") format("truetype"), url("../fonts/interstate_bold-webfont.svg#interstateregular") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'interstate';
  src: url("../fonts/interstate_black-webfont.eot");
  src: url("../fonts/interstate_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/interstate_black-webfont.woff2") format("woff2"), url("../fonts/interstate_black-webfont.woff") format("woff"), url("../fonts/interstate_black-webfont.ttf") format("truetype"), url("../fonts/interstate_black-webfont.svg#interstateregular") format("svg");
  font-weight: 800;
  font-style: normal; }
* {
  box-sizing: border-box;
  font-family: 'interstate';
  letter-spacing: 1px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -webkit-text-size-adjust: 100%; }

.button, label, .five-up {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  user-select: none; }

tr.dark {
  background: #f9f9f9;
  border-top: 2px solid #F0F1F1;
  border-bottom: 2px solid #F0F1F1; }

tr.light {
  color: white; }

html, body {
  position: relative;
  min-height: 100%; }

label {
  cursor: initial; }

body {
  background: #F0F1F1; }

a {
  color: #021E43; }

.wrapper {
  -webkit-transition: none;
          transition: none; }

.under a:hover {
  color: #8793A3; }

.under div {
  padding-bottom: 20px; }

.button {
  background: #8793A3; }

.button:hover {
  background: #FAC100; }

.row.extended {
  max-width: 1260px;
  width: 100%;
  height: 100%; }
  .row.extended .border-left {
    border-left: 3px solid #F0F1F1; }
  .row.extended h3 {
    float: left;
    padding: 40px 0 0 0;
    font-size: 20px; }
  .row.extended .top-links {
    float: right;
    padding: 45px 0 0;
    text-transform: uppercase; }
    .row.extended .top-links a {
      padding: 0 0 0 20px;
      font-weight: 600; }
  .row.extended img {
    width: 120px;
    height: auto; }
  .row.extended div.logo {
    width: 150px;
    float: left;
    position: relative;
    margin-top: 10px; }
  .row.extended .ten {
    width: 100%;
    max-width: 1050px; }

.top-links.page {
  clear: right;
  padding: 15px 0 0 0 !important; }

input, select {
  border-radius: 2px !important; }

input.error {
  border-color: #FAC100;
  background: none !important; }

input.error:focus {
  outline-color: #FAC100; }

label.left {
  margin-right: 20px; }

label {
  text-transform: uppercase;
  color: #021E43;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px; }

span.locked {
  color: #8793A3;
  font-size: 13px;
  font-weight: 500; }

input[type=radio], input[type=checkbox] {
  display: none; }

.button {
  font-family: 'interstate';
  font-weight: 900;
  padding: 15px 20px; }

.button.success {
  background: #021E43;
  border: none;
  box-shadow: none; }

.button.secondary {
  color: #8793A3;
  border: 2px solid white;
  background: #E9EAEC; }

label.radio, label.check {
  color: #8793A3; }

.collapse a:hover {
  background: #FAC100; }
.collapse span.postfix {
  background: #021E43;
  color: white;
  border-color: #021E43;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  background-image: url(../images/search.png);
  background-position: center center;
  background-repeat: no-repeat; }
.collapse span.postfix:hover {
  background-color: #FAC100;
  border-color: #FAC100; }

.row.under {
  position: relative; }
  .row.under img {
    width: 40px;
    height: auto;
    position: absolute;
    left: 15px;
    top: -5px; }

textarea {
  height: auto !important; }

a.excel {
  line-height: 45px;
  font-weight: 600;
  position: relative;
  left: 5px; }

.months {
  line-height: 45px; }

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 6px;
  font-size: 13px;
  background: white; }

a.create {
  padding-left: 45px; }

.collapse span.postfix.months {
  background: white;
  color: #8793A3;
  border: none;
  border-left: 1px solid #cccccc; }

.report-title {
  font-family: 'interstate';
  font-weight: 600;
  color: #021E43;
  font-size: 13px;
  text-transform: uppercase; }

.two.columns.search {
  border-left: 10px solid transparent; }

table tbody tr td, table tr td {
  font-size: 13px;
  color: #8793A3;
  line-height: 25px;
  vertical-align: middle; }

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: white; }

table tr.even td, table tr.alt td, table tr:nth-of-type(even) td {
  border-bottom: 2px solid #F0F1F1;
  border-top: 2px solid #F0F1F1; }

table thead tr th {
  font-weight: 400;
  padding: 5px 10px; }

table tbody tr:hover {
  background: #F0F1F1; }

tr.hidd {
  display: none;
  background: #F0F1F1 !important; }

.admin.button {
  margin-bottom: 0;
  padding: 0;
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: #8793A3;
  border: none; }

.admin.button:hover {
  background: #FAC100; }

section.ghost .columns {
  padding-bottom: 20px; }

section.appointment {
  margin-bottom: 20px; }
  section.appointment .row {
    background: white; }
  section.appointment .columns {
    padding-bottom: 00px; }
  section.appointment .row:last-of-type {
    padding-bottom: 0px; }
  section.appointment .row.border {
    border: none; }
  section.appointment .panel {
    margin: 0;
    color: white;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-size: 16px; }

.status {
  color: #8793A3;
  border-bottom: 1px solid #B3BBC5;
  float: right;
  padding: 10px 0 5px 0px;
  font-size: 11px; }

.logout {
  padding: 0 0 0 10px;
  text-transform: uppercase;
  color: #8793A3;
  font-weight: 600; }

input.specify {
  margin-top: 55px; }

.success.button.upload {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 0 10px; }

.counter {
  padding: 5px 0;
  text-align: right; }
  .counter span {
    font-size: 20px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-weight: 900;
    text-align: center;
    background: white;
    color: #8793A3;
    display: block;
    float: left;
    margin-right: 3px;
    top: 1px;
    position: relative; }
  .counter span.check {
    background-image: url(../images/check.png);
    height: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white; }

label.small {
  font-size: 12px; }

.white {
  background: white; }

.white.profile {
  padding: 0 20px; }

.search {
  padding: 15px;
  padding-bottom: 0; }

a:hover {
  color: #FAC100; }

label.radio:before, label.check:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 10px;
  left: 0;
  top: 5px;
  position: relative;
  background-color: white;
  border-radius: 20px;
  border: 4px solid white;
  box-shadow: 0px 0px 0px 1px #B3BBC5; }

input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {
  background-color: #021E43; }

.willis-logo {
  margin: 20px 0; }

section.top {
  background: white;
  height: 70px;
  overflow: hidden; }
  section.top .columns {
    height: 100%; }

section.blue {
  background: #021E43;
  border-top: 3px solid #F0F1F1; }

.form {
  padding-top: 20px; }

section.heading {
  background: #F0F1F1;
  border-bottom: 3px solid #FAC100; }
  section.heading h1 {
    font-weight: 600; }
    section.heading h1 span {
      font-size: 20px;
      line-height: 30px;
      width: 30px;
      font-weight: 800;
      text-align: center;
      display: block;
      float: left;
      margin-right: 3px;
      background: #8793A3;
      color: white;
      position: relative;
      top: -4px; }
    section.heading h1 span.current {
      background: #FAC100;
      color: #021E43;
      margin-right: 20px; }
    section.heading h1 span.check {
      background-image: url(../images/blue-check.png);
      height: 30px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: #FAC100; }

section.index {
  position: relative;
  min-height: calc(100% - 150px);
  background-color: #8793A3;
  background-image: url(../images/home-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -ms-behavior: url(/backgroundsize.min.htc); }
  section.index .stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/stripes.png); }
  section.index .inside {
    position: relative;
    z-index: 1; }
  section.index h1 {
    color: white;
    font-size: 65px;
    text-align: center;
    text-transform: none;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 120px;
    padding-bottom: 10px;
    font-family: 'interstate';
    font-weight: 600; }
  section.index .ghost {
    background: url(../images/ghost.png);
    background: rgba(255, 255, 255, 0.75);
    padding: 50px 0; }
  section.index input, section.index select {
    border: 2px solid #021E43; }
  section.index a {
    text-transform: uppercase; }

.row.transaction {
  border-top: 6px solid #F0F1F1; }
  .row.transaction .side-info {
    padding-left: 40px; }

.show-dropdown {
  width: 200px; }
  .show-dropdown i.icon {
    width: 20px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 10px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    float: left; }

.button.dropdown > ul {
  border: 2px solid #021E43; }

.button.dropdown > ul li {
  border-bottom: 2px solid #021E43;
  white-space: normal;
  display: table;
  min-height: 30px; }
  .button.dropdown > ul li a {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0 0 0 40px; }

.button.dropdown > ul li:last-of-type {
  border-bottom: none; }

.button.dropdown > ul li:hover {
  background: #FAC100; }

.five-down {
  position: relative; }
  .five-down ul {
    position: absolute;
    top: 0;
    left: -70px;
    list-style: none; }
    .five-down ul li {
      width: 60px;
      height: 60px;
      display: block;
      margin-bottom: 5px;
      position: relative;
      z-index: 9;
      overflow: hidden;
      -webkit-transition: none;
              transition: none; }
      .five-down ul li i.icon {
        width: 60px;
        display: block;
        height: 60px;
        float: none;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #8793A3; }
      .five-down ul li span {
        position: absolute;
        left: 60px;
        line-height: 60px;
        top: 0;
        background: #8793A3;
        color: #021E43;
        text-transform: uppercase;
        padding: 0 20px 0 0; }
    .five-down ul li:hover i, .five-down ul li.current i, .five-down ul li:hover span, .five-down ul li.current span {
      cursor: pointer;
      background-color: #FAC100; }
    .five-down ul li:hover {
      width: 350px; }

i.icon.pdf {
  background-image: url(../images/pdf.png); }

i.icon.renew {
  background-image: url(../images/renew.png); }

i.icon.amend {
  background-image: url(../images/amend.png); }

i.icon.cancel {
  background-image: url(../images/trash.png); }

i.icon.claim {
  background-image: url(../images/claim.png); }

section.reports-header {
  background: #495B73;
  padding: 20px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 0px; }

section.main {
  background: #F0F1F1; }
  section.main .row {
    padding: 20px 0;
    background: white;
    padding: 0; }
  section.main .row.first {
    padding-top: 20px; }
  section.main .row.last {
    padding-bottom: 75px; }

section.buttons {
  padding: 20px 0 100px; }
  section.buttons .columns {
    padding: 0; }

section.top .columns, section.blue .columns {
  padding: 0; }

.form .row {
  margin-bottom: 20px; }

.panel.appointments {
  padding: 10px 20px; }

.panel.appointments.callout {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 10px; }

.sidebar.appointment-side {
  padding-bottom: 0; }
  .sidebar.appointment-side .side-info {
    font-size: 13px;
    text-transform: capitalize;
    padding: 0; }
  .sidebar.appointment-side .highlight .side-icon img {
    top: 0; }
  .sidebar.appointment-side .side-info.date {
    font-family: 'interstate';
    font-weight: 900;
    font-size: 12px;
    line-height: 14px; }

.row.tran {
  margin: 0; }

td.large {
  color: white; }

th.right {
  text-align: right; }

section.home .button.large.dropdown {
  width: auto; }

section.home.curr-apt .button.large.dropdown {
  width: 100%; }

.view-all {
  color: white;
  font-weight: 600;
  bottom: 15px;
  left: 30px;
  position: absolute; }

.row.doc .twelve.columns.head, .row.transaction .twelve.columns.head {
  min-height: 250px;
  position: relative;
  padding-bottom: 40px; }

.button.action {
  font-size: 13px;
  line-height: 16px; }

table#reports {
  position: relative !important;
  top: -50px !important;
  margin: 0px auto 0;
  background: none;
  border: none; }

table#reports thead {
  background: none; }

table#reports thead tr {
  height: 50px; }

table#reports tbody {
  background: white; }

table#reports thead tr td {
  line-height: 35px;
  font-family: 'interstate';
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 10px; }

table#reports tbody tr:hover {
  background: white; }

table#appointment-list {
  position: relative !important;
  margin: 0px auto 0;
  background: none;
  border: none;
  top: -50px !important; }

table#appointment-list thead {
  background: none; }

table#appointment-list thead tr {
  height: 50px; }

table#appointment-list tbody {
  background: white; }

table#appointment-list thead tr td {
  line-height: 35px;
  font-size: 13px;
  color: white;
  font-family: 'interstate';
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 10px; }

table#appointment-list tbody tr:hover {
  background: white; }

table#appointment-list .dropdown a {
  font-family: 'interstate'; }

div.welcome {
  background: white;
  padding: 0 0 100px;
  border: none; }

div.sidebar {
  background: #021E43;
  padding: 0 0 100px;
  border-left: 10px solid #F0F1F1; }
  div.sidebar .highlight {
    text-transform: uppercase;
    font-size: 13px;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    position: relative; }
    div.sidebar .highlight img {
      left: 32px;
      position: absolute;
      top: -2px; }
  div.sidebar .highlight:hover {
    background: #495B73; }
  div.sidebar .highlight.current .side-info {
    color: #FAC100; }

.highlight {
  line-height: 18px;
  padding: 10px 0;
  display: block;
  background: none; }

.highlight:hover {
  background: #F0F1F1; }

.noti {
  font-weight: 600;
  color: #021E43;
  font-size: 13px;
  padding: 0 10px 0 26px; }

.info {
  color: #8793A3;
  font-size: 13px; }

.side-info {
  color: white;
  font-weight: 600; }

section.appointment.review .row {
  padding-bottom: 40px; }

section.appointment.review.second {
  margin-top: 38px; }

section.complete {
  text-align: center;
  text-transform: uppercase; }
  section.complete .row {
    background: white;
    padding: 40px 20px; }

.policy {
  margin: 20px auto; }

section.alert {
  margin-top: 0;
  margin-bottom: 20px; }

div.alert-box.alert {
  color: white;
  text-shadow: none;
  font-weight: 800;
  font-size: 20px;
  padding: 20px 20px;
  margin: 0;
  border: none;
  text-transform: uppercase; }

div.alert-box.alert.l {
  text-align: left; }

table#calculator {
  border: none;
  font-size: 13px;
  border-top: 1px solid #8793A3;
  padding: 0;
  font-family: 'interstate';
  border-radius: 0;
  padding-top: 20px; }
  table#calculator tr {
    padding: 0;
    font-family: 'interstate';
    border: none;
    background: none; }
  table#calculator td {
    padding: 0;
    line-height: 22px;
    font-family: 'interstate';
    border: none;
    background: none;
    font-size: 12px; }
  table#calculator .line {
    border-bottom: 1px solid #021E43; }
  table#calculator .r {
    text-align: right;
    font-size: 13px; }

#footer {
  line-height: 40px;
  padding: 20px 0 0px;
  text-align: center;
  font-size: 11px;
  color: #021E43; }

.border-right {
  border-right: 2px solid #F0F1F1; }

.border-left {
  border-left: 2px solid #F0F1F1; }

.five-up {
  padding: 0;
  left: 0;
  font-size: 0;
  margin: 0; }
  .five-up li {
    display: block;
    float: left;
    height: 100px;
    background: white;
    width: 20%;
    text-align: center; }
    .five-up li a {
      display: inline-block;
      height: 100%;
      width: 100%;
      -webkit-transition: all .3s ease-out;
              transition: all .3s ease-out; }
    .five-up li a:hover {
      background: #FAC100; }
      .five-up li a:hover span {
        color: #021E43; }
    .five-up li div.text {
      display: table;
      width: 100%;
      min-height: 45px;
      padding: 0 30px;
      line-height: 15px; }
      .five-up li div.text span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: 600; }
    .five-up li span {
      font-size: 13px;
      color: #B3BBC5;
      text-transform: uppercase;
      font-weight: 600; }
    .five-up li i.icon {
      display: block;
      margin: 10px auto 10px;
      width: 65px;
      height: 35px;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat; }
    .five-up li i.icon.home {
      background-image: url(../images/home.png); }
    .five-up li i.icon.new {
      background-image: url(../images/new.png); }
    .five-up li i.icon.current-appointments {
      background-image: url(../images/current.png); }
    .five-up li i.icon.reports {
      background-image: url(../images/reports.png); }
    .five-up li i.icon.settings {
      background-image: url(../images/settings.png); }
  .five-up li.current {
    background: #F0F1F1; }
    .five-up li.current span {
      color: #021E43; }

section.appointment-buttons {
  text-align: center; }
  section.appointment-buttons .columns {
    padding: 20px 0 10px; }
  section.appointment-buttons a:hover {
    background: #FAC100;
    cursor: pointer; }
  section.appointment-buttons label {
    color: white; }
  section.appointment-buttons img {
    margin-bottom: 10px; }
  section.appointment-buttons .back, section.appointment-buttons .cancel, section.appointment-buttons .save {
    border-right: 3px solid white;
    background: #B3BBC5; }
  section.appointment-buttons .next {
    background: #021E43; }

section.app .white {
  background: white; }
  section.app .white .row {
    margin-bottom: 10px; }
section.app h4 {
  color: #D8DADE;
  border-bottom: 1px solid #D8DADE;
  padding-bottom: 5px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 15px 15px 0; }

.medium.success.full.button {
  margin: 0px 0 30px; }

body.index #footer {
  padding: 0; }

.block-grid.five-up > li {
  padding: 0; }

.datepicker {
  -webkit-transition: none;
          transition: none; }
  .datepicker td {
    line-height: 12px;
    font-family: 'interstate';
    font-weight: 400; }

.cal {
  position: relative; }

.cal:after {
  content: '';
  display: block;
  background: url(../images/date.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 45px;
  height: 34px;
  position: absolute;
  right: 10px;
  top: 0; }

.head-icon {
  display: none; }
  .head-icon i {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 5px 0 0 0; }

select {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 13px;
  height: 32px;
  margin: 0 0 12px 0;
  padding: 6px;
  width: 100%;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear; }

h1 {
  color: #021E43;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  font-family: 'interstate';
  font-weight: 600; }

h3 {
  color: #B3BBC5;
  margin: 0 25px;
  font-size: 24px;
  padding: 40px 0;
  font-family: 'interstate';
  font-weight: 800; }

.button {
  border: 2px solid white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 100px;
  padding-right: 100px; }

.button.success:hover {
  background: #FAC100; }

.button.full {
  width: 100%; }

td.space {
  padding: 0; }

.curr-apt div {
  padding: 0; }

.curr-apt .curr {
  margin-top: 15px; }

.alert {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase; }

.panel {
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  text-transform: uppercase;
  background: #B3BBC5;
  color: white;
  border: 3px solid white;
  padding: 10px; }

.panel.callout {
  background: #495B73;
  color: #021E43;
  border: 1px solid #495B73;
  box-shadow: none; }

.button.dropdown:after {
  display: none !important; }

.button.large.dropdown {
  padding: 10px;
  width: 100%; }

.button.large {
  padding: 15px 18px 16px; }

.mobile, .butterfly {
  display: none; }

.butterfly {
  text-align: center;
  padding: 20px;
  cursor: pointer;
  background: white;
  color: #021E43;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px; }

.nopadd {
  padding: 0; }

@media all and (max-width: 1260px) {
  .row.extended {
    max-width: 960px;
    padding: 0 0px; }

  .row.extended .logo {
    margin-bottom: 20px;
    width: 13%; }

  .row.extended .ten {
    width: 84%; }

  .row.extended .border-left {
    border: none; }

  .five-down ul {
    position: static;
    text-align: center;
    padding-top: 20px; }
    .five-down ul li {
      display: inline-block;
      width: 60px !important; } }
@media all and (max-width: 1000px) {
  .row.extended {
    max-width: 960px;
    padding: 0 0px; }

  .row.extended .logo {
    margin-bottom: 20px;
    min-width: 14%; }

  .row.extended .ten {
    width: 80%; }

  .row.extended .border-left {
    border: none; }

  .five-down ul {
    position: static;
    text-align: center;
    padding-top: 20px; }
    .five-down ul li {
      display: inline-block;
      width: 60px !important; } }
@media all and (max-width: 768px) {
  .counter, h1 span {
    display: none !important; }

  div.sidebar {
    border: none; }

  .butterfly {
    display: block !important; }

  .mobile {
    display: block;
    height: 0;
    overflow: hidden; }
    .mobile .nopad {
      padding: 0; }

  section {
    overflow: hidden; }

  .status {
    line-height: 40px; }

  .top-links, section.blue {
    display: none; }

  section.top .columns {
    height: 180px; }

  .row.extended {
    padding-bottom: 20px; }

  .highlight {
    padding: 10px 20px; }
    .highlight img {
      display: none; }

  .months {
    border: none !important; }

  .button.success {
    line-height: 20px; }

  #appointment-list thead {
    display: none; }
  #appointment-list td {
    display: block;
    width: 100%;
    background: white;
    border-bottom: 1px solid #D8DADE;
    padding: 10px 15px; }
  #appointment-list td:last-of-type {
    padding-bottom: 100px; }
  #appointment-list tr td:nth-of-type(1):before {
    content: 'Appointment Name: ';
    display: inline; }
  #appointment-list tr td:nth-of-type(2):before {
    content: 'Date of Appt: ';
    display: inline; }
  #appointment-list tr td:nth-of-type(3):before {
    content: 'Next Expiry: ';
    display: inline; }
  #appointment-list tr td:nth-of-type(4):before {
    content: 'Current Status ';
    display: inline; }

  .locked {
    display: block;
    padding-bottom: 20px; }

  .noti {
    padding: 0 10px 0 15px; }

  .curr-apt .curr {
    padding: 15px; }

  .two.columns.search {
    border: none; }

  .five-down ul {
    position: static;
    text-align: center;
    padding-top: 20px; }
    .five-down ul li {
      display: inline-block;
      width: 60px !important; }

  .mm {
    margin: 0 !important;
    padding: 0; }

  section.index h1 {
    font-size: 20px; }

  section.appointment-buttons .back, section.appointment-buttons .cancel, section.appointment-buttons .save {
    display: block !important; }

  a.next {
    display: block !important; }

  .row.extended div.logo {
    float: none;
    display: block;
    margin: auto;
    padding-top: 20px;
    left: 0;
    text-align: center; }

  .row.extended h3 {
    float: none;
    text-align: center;
    padding-top: 20px !important; }

  .row.extended .top-links, .row.extended .status {
    margin: auto;
    float: none;
    text-align: center;
    border: none; }

  .row.extended .status {
    padding: 20px 0 0; }

  .row.extended .top-links {
    padding-bottom: 20px !important; }

  section.top {
    height: auto; }

  .create img {
    display: none; }

  a.create {
    padding: 0; }

  .five-up li i.icon {
    display: none; }
  .five-up li a {
    height: auto; }

  h1 {
    text-align: center;
    padding-bottom: 10px; }

  .head-icon i {
    float: none;
    margin: 0 auto 20px;
    display: block; }

  .block-grid.five-up > li {
    width: 100%;
    height: auto; }
    .block-grid.five-up > li a {
      padding: 10px 20px; } }
/*
.datepicker {
  .prev, .next {font-style:normal;}
  .prev:after {content:"«";}
  .next:after {content:"»";}
}
*/
/*!
 * Datepicker for Foundation - less stylesheet, just version customized to foundation
 *
 * Copyright 2013 Peter Beno, najlepsiwebdesigner@gmail.com, @benopeter
 * project website http://foundation-datepicker.peterbeno.com
 *
 * Original project https://github.com/eternicode/bootstrap-datepicker
 *    Original author 2012 Stefan Petre
 *    Improvements by Andrew Rowls
 *    Licensed under the Apache License v2.0
 *    http://www.apache.org/licenses/LICENSE-2.0
 */
.datepicker.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  color: #333;
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  line-height: 18px; }

.datepicker.dropdown-menu th, .datepicker.dropdown-menu td {
  padding: 4px 5px; }

.datepicker {
  display: none;
  position: absolute;
  padding: 4px;
  margin-top: 1px;
  direction: ltr; }

.datepicker-inline {
  width: 220px; }

.datepicker-rtl {
  direction: rtl; }

.datepicker-rtl table tr td span {
  float: right; }

.datepicker-dropdown {
  top: 0;
  left: 0; }

.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px; }

.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -6px;
  left: 7px; }

.datepicker > div {
  display: none; }

.datepicker.days div.datepicker-days {
  display: block; }

.datepicker.months div.datepicker-months {
  display: block; }

.datepicker.years div.datepicker-years {
  display: block; }

.datepicker table {
  border: 0;
  margin: 0; }

.datepicker td, .datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 12px;
  padding: 4px 8px;
  background: #fff;
  cursor: pointer; }

.datepicker td.active.day, .datepicker th.active.day {
  background: #FAC100;
  color: #021E43; }

.datepicker td.active.year, .datepicker th.active.year {
  background: #2ba6cb; }

.datepicker td span.active, .datepicker th span.active {
  background: #2ba6cb; }

.table-striped .datepicker table tr td, .table-striped .datepicker table tr th {
  background-color: transparent; }

.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer; }

.datepicker th.date-switch {
  width: 145px; }

.datepicker thead tr:first-child th, .datepicker tfoot tr:first-child th {
  cursor: pointer; }

.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle; }

.datepicker thead tr:first-child th.cw {
  cursor: default;
  background-color: transparent; }

.datepicker-dropdown::before, .datepicker-dropdown::after {
  display: none; }

.datepicker-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 15px;
  height: 30px;
  padding: 0;
  display: none; }

.datepicker td.old, .datepicker td.new {
  color: #999; }

.datepicker td.day.disabled {
  color: #eee; }

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
